%h1.page_label= 'Your chats'
.mychats
  - @projects.each do |project|
    - if project.chats.any?
      .project
        %h2= project.name
        .chats
          - project.chats.each do |chat|
            .chat
              = link_to chat.title, project_chat_path(project, chat) if can? :use_chat, project
