#teaser
  #features
    %h2 Main features:
    %ul
      %li Free ticket tracking system
      %li Free team collaboration tool
      %li Support for Behaviour Driven Development
  #sign_up_now= link_to(t('sign_up_now'), new_user_registration_path)