.projects
  %h2 My projects
  .projects_actions
    =link_to(t('create_new_project'), new_project_path)
  %ul.projects_list
    - @projects.each do |project|
      %li
        .project_name= link_to project.name, project
        .project_actions
          %ul
            %li= link_to(t('edit'), edit_project_path(project)) if can? :manage_project, project
            %li= link_to(t('delete'), project, :method => :delete, :confirm => t('project_delete_confirmation')) if can? :manage_project, project

