@mixin gray-box($radius, $padding)
  width: 1000px
  margin: auto
  padding: $padding 35px
  background-color: #E8E8E8
  -moz-border-radius: $radius
  border-radius: $radius

h1.page_label
  margin-left: 40px

.hidden
  display: none

#navigation_bar
  margin-bottom: 20px
  a
    font-weight: bold
  span
    margin-right: 10px
  span.connector
    color: #AAAAAA
    font-weight: bold

li
  list-style-type: none

a
  text-decoration: none
a:visited, a:link
  color: #a61414
a:hover, a:active
  color: #DD0000
  text-decoration: underline

.flash
  @include gray-box(7px, 5px)
  margin-top: 10px
  margin-bottom: 10px
.flash.notice
  background-color: #468046 !important
.flash.alert
  background-color: #C43C3C !important
.flash.alert, .flash.notice
  height: 20px
  a
    color: white !important
  .message
    color: white
    float: left
  .hide_button
    float: right
    text-align: right

form
  label
    display: block
  fieldset
    padding: 0
    border: none
    ol
      list-style-type: none
      li
        p.inline-errors
          display: none

form
  .field_with_errors input, .error input, .error select
    border: 1px solid #DD0000 !important
  input
    padding-left: 3px
    margin: 6px 0
  input[type="email"], input[type="password"], input[type="submit"], input[type="text"], textarea, select
    height: 25px
    -moz-border-radius: 5px
    border-radius: 5px
    border: 1px solid #AAAAAA
    min-width: 250px
    font-family: Arial
  select
    margin-bottom: 8px
  textarea
    height: 200px !important
    padding: 4px
  input[type="submit"]
    font-size: 20px
    min-width: 250px
    height: 35px
    margin-top: 15px
    padding: 2px 7px
    background-color: #a61414
    color: white
  margin-bottom: 20px
  .field_with_errors + br
    display: none
  ul.errors
    color: #a61414

#bottom_bar
  @include gray-box(8px, 3px)
  font-size: 14px
  margin-top: 15px
  height: 17px
  color: #a61414

#top_bar
  width: 800px
  margin: 0 auto
  height: 35px
  font-size: 14px
  #user_info
    margin: 0
    display: inline
    color: #a61414
    right: 390px
    .email, .avatar
      display: inline
    .email
      margin-left: 4px
    .avatar
      img
        vertical-align: middle
        width: 30px
        height: 30px
  #session_actions
    float: right
    ul
      margin: 7px 0
      text-align: right
      list-style-type: none
      li
        display: inline
        margin-right: 10px

#main_container
  @include gray-box(15px, 30px)
  margin-top: 10px
  min-height: 320px

#logo_bar
  @include gray-box(15px, 15px)
  clear: both
  min-height: 80px
  #logo
    a
      float: left
      font-family: 'Lobster', cursive
      font-size: 60px
      text-decoration: none !important
    a:visited, a:link
      color: black
    a:hover, a:active
      color: #DD0000
      text-decoration: underline
  #main_menu
    float: left
    min-width: 400px
    font-size: 15px
    border-top: 1px dotted #a61414
    border-bottom: 1px dotted #a61414
    margin: 15px 0 0 90px
    ul
      list-style-type: none
      li
        display: inline
        margin-right: 50px
  
#error_explanation
  ul
    li
      color: #a61414 !important