@mixin gray-box
  padding: 30px
  background-color: #EEEEEE
  -moz-border-radius: 15px
  border-radius: 15px

a
  text-decoration: none
a:visited, a:link
  color: #a61414
a:hover, a:active
  color: #DD0000

#top_bar
  width: 800px
  margin: auto
  margin-top: 0px
  padding: 1px
  ul#session_actions
    text-align: right
    list-style-type: none
    li
      display: inline
      margin-right: 10px

#main_container
  width: 800px
  margin: auto
  margin-top: 10px
  @include gray-box

#logo_container
  width: 800px
  margin: auto
  @include gray-box
  a
    font-family: 'Lobster', cursive
    font-size: 80px