// Place all the styles related to the members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form.membership
  fieldset
    border: none
    ol
      list-style-type: none
      li
        p.inline-errors
          display: none


#new_membership, #edit_membership
  h1, h3
    margin-left: 50px
  .errors
    margin-left: 70px
    padding: 0