// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.projects
  margin-left: 30px
  h2
    margin: 10px 10px 30px 10px
    border-bottom: 1px solid black
  ul.projects_list
    margin-left: 10px
    padding: 0
    li
      padding: 5px
      list-style-type: none
      .project_name
        max-width: 300px
        float: left
      .project_actions
        width: 500px
        margin-right: 200px
        float: right
        padding: 0
        ul
          li
            display: inline
            border: none
      clear: both
  .menu
    margin: 0 0 20px 16px


.project
  .actions
    a
      margin-right: 10px
  .instructions
    p
      font-size: 12px
  .boards
    .board
      overflow: auto
      float: left
      display: block
      width: 320px
      border: 2px solid #AAAAAA
      .management
        text-align: center
        .start_date, .duration
          display: inline
          font-size: 12px
      .name
        text-align: center
        font-weight: bold
        text-decoration: underline
      .tickets
        ol
          height: 400px
          padding: 0
          li.ticket
            padding-left: 5px
            min-height: 26px
            display: block
            background-color: #999
            font-size: 13px
            margin-bottom: 3px
            .title
              a
                color: white !important
            .story, .title, .points, .dynamic_estimation, .user, .state,
              line-height: 2em
              display: inline
            .story, .points, .user, .state
              margin-right: 5px
              color: white !important
              font-weight: bold
          li.ticket.open
            background-color: #222 !important
          li.ticket.in_progress
            background-color: #999 !important
          li.ticket.finished
            background-color: #468096 !important
          li.ticket.accepted
            background-color: #468046 !important
          li.ticket.rejected
            background-color: #C43C3C !important
    .board.sprint
      .tickets
        ol
          height: 356px !important
    .board.highlighted
      background-color: #D2FFD2
      border-color: #A2CFA2 !important

  .summary
    clear: both