// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form.project
  fieldset
    border: none
    ol
      list-style-type: none
      li
        p.inline-errors
          display: none


.projects
  h2
    margin: 10px 10px 30px 10px
    border-bottom: 1px solid black
  ul.projects_list
    margin-left: 10px
    padding: 0
    li
      list-style-type: none
      ul.actions
        padding: 0
        li:first-child
          margin-right: 80px
        li
          display: inline
          margin-right: 10px
  .menu
    margin-left: 10px
    margin-top: 50px