// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.projects
  h2
    margin: 10px 10px 30px 10px
    border-bottom: 1px solid black
  ul.projects_list
    margin-left: 10px
    padding: 0
    li
      padding: 5px
      list-style-type: none
      .project_name
        max-width: 300px
        float: left
      .project_actions
        width: 300px
        margin-right: 200px
        float: right
        padding: 0
        ul
          li
            display: inline
            border: none
      clear: both
  .menu
    margin: 0 0 20px 16px


.project
  .actions
    a
      margin-right: 10px
  .instructions
    p
      font-size: 12px
  .boards
    .board
      float: left
      display: block
      width: 240px
      height: 200px
      border: 2px solid #AAAAAA
      .management
        text-align: center
        .start_date, .duration
          display: inline
          font-size: 12px
      .name
        text-align: center
        font-weight: bold
        text-decoration: underline
      .tickets
        ol
          padding: 0
          li.ticket
            display: block
            background-color: #999
            text-align: center
            font-size: 13px
            margin-bottom: 3px
            a
              font-weight: bold
              color: white !important
            .story, .title, .points
              display: inline
            .story, .points
              padding-right: 8px

  .summary
    clear: both