@mixin description-box
  word-wrap: break-word
  padding: 4px
  -moz-border-radius: 5px
  border-radius: 5px
  border: 1px solid #AAAAAA
  font-family: monospace
  font-size: 13px
  background-color: white
  font-weight: bold

form.ticket
  input, select
    min-width: 350px !important
  #ticket_description_input
    float: left
    textarea
      margin-right: 10px
      font-family: monospace
      width: 350px !important
  .cucumber
    .description
      height: 200px !important
      width: 350px !important
.cucumber
  .description
    overflow: auto
    margin-top: 20px
    float: left

    @include description-box
    .keyword
      display: inline
    .keyword.feature
      color: #164366
    .keyword.scenario
      color: blue
    .keyword.outline
      color: green
    .keyword.quote
      color: #a61414
    .keyword.table
      color: blue
  .controls
    clear: both
    a
      font-size: 0.9em

.show
  .ticket
    margin-left: 40px

.ticket
  .title
    clear: both
  .story, .points, .user, .board, .title
    margin-bottom: 10px
  .header
    font-weight: bold
  .description
    margin-top: 20px
    .content
      min-height: 200px !important
      width: 450px !important

      @include description-box
  .actions
    margin-bottom: 60px
    ul
      padding: 0
      li
        float: left
        margin-right: 10px
  .cucumber
    .description
      width: 450px !important
      min-height: 200px !important

  .ticket_attachements
    margin-top: 30px
    form
      ol
        padding: 0
    img
      margin: 5px 0
      max-width: 100px
      max-height: 100px