.chat_window{ 'data-pusher-key' => Pusher.key }
  .messages
    - @messages.each do |message|
      = render 'chat/messages/message', :message => message
  .new_message
    = render 'chat/messages/form'