- if can? :manage_tickets, @project
  .dynamic_estimation
    = select_tag "points_for_ticket_#{ticket.id}", options_for_select(points_for_project(@project), ticket.points), :class => 'select_points'
- else
  = ticket.points