%li.ticket
  %a{:href => project_ticket_path(@project, ticket), :title => ticket.title}
    .story= story_type_icon_for(ticket)
    - if ticket.feature?
      .points= ticket.points
    .title= shorten_title(ticket.title, to: 50)